@import '/src/sass/colors';

.Footer-Component {
    flex-direction: column;
    width: 100%;
    gap: 5vw;

    .Social-Component {
        position: relative;
        flex-direction: column;
        width: 100%;
        gap: 1vw;
        color: white;

        .follow-us {
            flex-direction: column;

            h3 {
                font-size: 5vw;
            }
            
            .ig-at {
                font-size: 6vw;
                font-family: Poppins;
                margin-left: 4vw;
            }
        }

        .icons-container {
            width: 100%;
            justify-content: center;
            gap: 2vw;

            svg {
                width: 15vw;
            }
        }

        .background {
            position: absolute;
            top: -50vw;
            left: -5vw;
            z-index: -1;
            width: 100vw;
            transform: scale(1.2);
        }
    }

    .About-Component {
        width: 100%;
        flex-direction: column;
        gap: 5vw;
        color: $primary-color;

        h1 {
            font-size: 6vw;
        }

        p {
            font-size: 5vw;
        }

        .container {
            width: 100%;
            flex-direction: column;
        }
    }

    .Newsletter-Component {
        width: 100%;
        flex-direction: column;
        gap: 1vw;
        color: $primary-color;

        form {
            flex-direction: column;
            gap: 3vw;
        }
    }

    .Copyright-Component {
        margin: 10vw 0;
        width: 100%;
        flex-direction: column;
        text-align: center;
        color: $primary-color;
    }
}