@import '/src/sass/colors';

.Categories-Component {
    width: 100%;
    flex-direction: column;
    color: $primary-color;
    gap: 1vw;
    
    h3 {
        font-size: 5vw;
    }
    
    .categories-container {
        gap: 3vw;
        width: 100vw;
        margin-left: -5vw;
        overflow-x: auto;
        padding: 1vw 5vw;
        
        .category-container {
            box-shadow: 0 2px 3px rgba($color: #000000, $alpha: 0.4);
            border-radius: 2vw;
            width: fit-content;
            padding: 5vw 2vw;
            align-items: center;
            gap: 3vw;
            flex-shrink: 0;
            overflow-x: hidden;

            p {
                font-size: 4vw;
                word-break: break-all;
            }
        }
    }
}